{% extends "base.html" %} 
{% block title %} Home page {% endblock %} 
{% block content %}
<div class="page-title position-relative">
	<h1>Todo List</h1>
	<a class="position-absolute top-0 end-0 icon-link icon-link-hover text-dark" href="/todo">
		Add Task
		<i class="bi-plus-circle-fill"></i>
	</a>
</div>
<div class="containre-md">
	<div class="row">
		{% for todoTask in todoList %}
			<div class="col-sm-6 mt-3 mb-sm-0">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">{{ todoTask.1 }}</h5>
						<p class="card-text">{{ todoTask.2 }}</p>
						{% if todoTask.3 == 1: %}
							<input type="checkbox" value="{{ todoTask.3 }}" class="form-check-input ckb-completed" name="is_completed{{ todoTask.0 }}" id="is_completed{{ todoTask.0 }}" checked>
						{% else: %}  
							<input type="checkbox" value="{{ todoTask.3 }}" class="form-check-input ckb-completed" name="is_completed{{ todoTask.0 }}" id="is_completed{{ todoTask.0 }}">
						{% endif %}
						<label for="is_completed{{ todoTask.0 }}">Completed</label>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<script src="../static/main.js" type="text/javascript" ></script>
{% endblock %}
