{% extends "base.html" %} 
{% block title %} Home page {% endblock %} 
{% block content %}
<div class="page-title position-relative">
	<h1>Todo List</h1>
	<a class="position-absolute top-0 end-0 text-dark p-2 btn-add-task" href="/todo">
		Add Task
		<i class="bi-plus-circle-fill"></i>
	</a>
</div>
<div class="containre-md">
	<div class="row">
		{% for todoTask in todoList %}
			<div class="col-sm-6 mt-3 mb-sm-0" id="task-item-{{ todoTask.0 }}">
				<div class="card">
					<div class="card-body is_completed{{ todoTask.0 }}">
						<h5 class="card-title">{{ todoTask.1 }}</h5>
						<p class="card-text">{{ todoTask.2 }}</p>
						<div class="gr-icon mx-auto">
							{% if todoTask.3 == 1: %}
								<input type="checkbox" value="{{ todoTask.3 }}" class="form-check-input ckb-completed" data-task-id="{{ todoTask.0 }}" id="is_completed{{ todoTask.0 }}" checked>
							{% else: %}  
								<input type="checkbox" value="{{ todoTask.3 }}" class="form-check-input ckb-completed" data-task-id="{{ todoTask.0 }}" id="is_completed{{ todoTask.0 }}">
							{% endif %}
							<label for="is_completed{{ todoTask.0 }}">Completed</label>
							<a href="/todo/{{ todoTask.0 }}" class="px-3 text-warning ic-func"><i class="bi bi-pencil-square"></i></a>
							<a href="#" class="text-danger btn-del-task fw-bolder ic-func" data-task-id="{{ todoTask.0 }}"><i class="bi bi-trash"></i></a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
