{% extends "base.html" %}
{% block title %} Todo page {% endblock %}

{% block content %}
	<h2>Create Todo Task</h2>
	<form action="#" method="POST" name="todo-frm" class="was-validated">
		<label for="title">Title</label>
		<div class="input-group has-validation">
			<input type="text" name="title" value="" id="title" class="form-control is-invalid" required>
			<div id="titleFeedback" class="invalid-feedback">
				Please provide task title.
			</div>
		</div>
		<div class="mb-3">
			<label for="description">Description</label>
			<textarea type="text" name="description" value="" id="description" class="form-control" required></textarea>
			<div class="invalid-feedback">
				Please provide task description.
			</div>
		</div>
		<input type="submit" value="Submit" id="login-btn" class="mt-3">
	</form>
{% endblock %}